:root {

  --font-family: 'Arial', sans-serif;

  /*--primary-color: #9EC014; /* Verde Oliva Claro 
  --secondary-color: #444C1C;
  --background-color-light: #F5F5F5; /* Blanco Hueso 
  --background-color-dark: #2D2D2D; /* Gris Claro 
  --background-color-secondary: #E0E0E0; /* Gris Claro 
  --text-color-light: #FFFFFF;
  --text-color-dark: #2D2D2D; /* Gris Oscuro 
  --border-color: #D1D5DB; 
  --accent-color-light: #C0C0C0; /* Gris Plata 
  --accent-color: #FBBF24; 
  --danger-color: #EF4444; 
  --white: #FFFFFF; /* Blanco Puro */

  --primary-color: #D4AF37; /* Dorado suave, elegante pero neutro */
  --secondary-color: #2E2E2E; /* Gris oscuro en lugar de negro absoluto */
  --background-color-light: #FAFAF9; /* Gris muy claro, casi blanco */
  --background-color-dark: #1E1E1E; /* Negro suave, minimalista */
  --background-color-secondary: #F5F5F5; /* Gris neutro claro, para secciones */
  --text-color-light: #FFFFFF; /* Blanco puro */
  --text-color-dark: #2E2E2E; /* Gris oscuro */
  --border-color: #D1D5DB; /* Gris claro y sobrio */
  --accent-color-light: #A3A3A3; /* Gris medio, para detalles sutiles */
  --accent-color: #6B7280; /* Gris fuerte, elegante */
  --danger-color: #B91C1C; /* Mantenido como rojo alerta sobrio */
  --white: #FFFFFF;

}

body {
  background-color: var(--background-color-light);
  color: var(--text-color-dark);
  font-family: var(--font-family);
  margin: 0;
  padding: 0;

  /* Imagen de fondo 
  background-image: linear-gradient(rgba(207, 243, 209, 0.5), rgba(0, 0, 0, 0.5)), url('../images/fondo_sistema.jpg'); /* Cambia esta ruta a la ubicación real de tu imagen */
  background-size: cover; /* La imagen cubrirá todo el fondo */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  background-position: center center; /* Centra la imagen */
}

body::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.3); /* Overlay blanco con 30% de opacidad */
  z-index: -1; /* Asegura que el overlay esté detrás del contenido */
}

h1, h2, h3, h4, h5, h6 {
  color: var(--text-color-dark);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
  
}

.page-title {
  font-size: 2rem;
  margin-bottom: 20px;
  color: var(--text-color-dark);
}

.page-sub-title {
  font-size: 1.5rem;
  margin-bottom: 20px;
  color: var(--text-color-dark);
}

/* Media Queries */
@media (max-width: 768px) {
  body {
    font-size: 14px;
  }

  .container {
    padding: 0 1rem;
  }

  .page-title {
    font-size: 1.5rem;
  }

  table {
    font-size: 0.875rem;
  }

  .button {
    padding: 0.375rem 0.75rem;
    font-size: 0.875rem;
  }

  .sidebar {
    width: 200px;
  }

  .sidebar-logo {
    width: 120px;
  }
}

@media (min-width: 769px) and (max-width: 1200px) {
  body {
    font-size: 16px;
  }

  .container {
    padding: 20px;
  }

  .page-title {
    font-size: 1.75rem;
  }
}

/* Estilos generales para la barra lateral */

.sidebar {
  background-color: var(--background-color-secondary);
  color: var(--text-color-dark);
  width: 16rem; /* Ajusta el ancho según sea necesario */
  padding: 1.75rem 0.5rem; /* Ajusta el padding según sea necesario */
  display: flex;
  flex-direction: column;
  gap: 1.5rem; /* Espacio entre los elementos */
}

.sidebar-logo {
  width: 160px; /* Ajusta el tamaño del logo */
  height: auto; /* Para mantener la proporción */
}

/* Estilos para los enlaces de navegación */
.sidebar-link {
  display: block;
  padding: 0.625rem 1rem;
  border-radius: 0.25rem;
  font-weight: bold;
  color: var(--text-color-dark); /* Color del texto */
  text-decoration: none; /* Elimina el subrayado */
  transition: background-color 0.2s ease, color 0.2s ease;
}

.sidebar-link:hover {
  background-color: var(--primary-color);
  color: var(--white);
}

/* Estilos para los tabs */
/* Contenedor de las pestañas */
.tabs {
  margin-bottom: 1rem;
  display: flex;
  border-bottom: 2px solid var(--border-color); /* Línea de separación */
}

/* Estilo general para cada pestaña */
.tab {
  padding: 1rem 1rem;
  border-radius: 0.375rem; /* Radio de borde redondeado */
  margin-right: 0.25rem;
  transition: background-color 0.2s ease, color 0.2s ease; /* Transición suave */
  cursor: pointer; /* Indicador de clic */
  font-weight: bold; /* Negrita para mejor visibilidad */
}

/* Estilo para la pestaña activa */
.tab-active {
  background-color: var(--primary-color);
  color: var(--white);
  border: 1px solid var(--primary-color); /* Borde resaltado */
}

/* Estilo para la pestaña inactiva */
.tab-inactive {
  background-color: var(--background-color-secondary);
  color: var(--text-color-dark);
  border: 0.5px solid var(--background-color-secondary); /* Borde sutil */
}

/* Ajustes para las pestañas en pantallas más pequeñas */
@media (max-width: 768px) {
  .tab {
    padding: 0.375rem 0.75rem;
    font-size: 0.875rem; /* Fuente más pequeña en pantallas pequeñas */
  }
}

/* Añadido para borde redondeado en el primer tab */
.tab:first-child {
  border-top-left-radius: 0.375rem;
  border-bottom-left-radius: 0.375rem;
}

/* Añadido para borde redondeado en el último tab */
.tab:last-child {
  border-top-right-radius: 0.375rem;
  border-bottom-right-radius: 0.375rem;
}

.flex-center-container {
  display: flex;
  height: calc(100vh - 100px); /* Calcula la altura, restando 100px del viewport height */
  align-items: center; /* Centra verticalmente */
  justify-content: center; /* Centra horizontalmente */
}

/* Clase para el div interior */
.inner-box {
  background-color: var(--background-color-dark); /* Color de fondo (equivalente a bg-zinc-800) */
  max-width: 28rem; /* Máximo ancho */
  width: 100%; /* Ancho completo */
  padding: 2.5rem; /* Espaciado interno */
  border-radius: 0.375rem; /* Bordes redondeados */
}

.form-input {
  width: 100%;
  background-color: #3B3B3B;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 0.375rem;
  margin-bottom: 0.5rem;
  border: 1px solid #4B5563;
  font-size: 1rem;
}

.form-input:focus {
  outline: none; /* Elimina el borde de enfoque predeterminado */
  box-shadow: 0 0 0 3px rgba(62, 132, 203, 0.5); /* Sombra azul para enfoque */
}

.form-textarea {
  width: 100%;
  background-color: #3B3B3B;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 0.375rem;
  margin-bottom: 0.5rem;
  border: 1px solid #4B5563;
  font-size: 1rem;
  resize: vertical;
}

.form-select {
  width: 100%; /* Ocupar todo el ancho disponible */
  background-color: #3B3B3B; /* Color de fondo similar a bg-zinc-700 */
  color: white; /* Color del texto */
  padding: 0.5rem 1rem; /* Espaciado interno (equivale a px-4 py-2) */
  border-radius: 0.375rem; /* Bordes redondeados (equivale a rounded-md) */
  margin: 0.5rem 0; /* Margen superior e inferior (equivale a my-2) */
  border: none; /* Sin bordes por defecto */
  appearance: none; /* Eliminar el estilo por defecto del navegador */
  cursor: pointer; /* Cambiar el cursor al estilo de puntero */
}

/* Cambiar el fondo al hacer hover */
.form-select:hover {
  background-color: #52525b; /* Color de fondo al hacer hover */
}

/* Cambiar el fondo al enfocarse en el selector */
.form-select:focus {
  outline: none; /* Eliminar el borde del enfoque por defecto */
  box-shadow: 0 0 0 2px #3f3f46; /* Añadir una sombra de enfoque */
}

/* Estilo para las opciones dentro del select */
.form-select option {
  background-color: #3f3f46; /* Color de fondo de las opciones */
  color: #ffffff; /* Color del texto de las opciones */
}

.form-label {
  font-weight: bold;
  margin-bottom: 0.5rem;
  display: block;
  color: var(--text-color-light);
}

.form-error {
  color: #EF4444; /* Un tono de rojo */
  font-size: 0.875rem;
  margin-top: -0.25rem;
  margin-bottom: 0.5rem;
}

.form-sub-title {
  font-size: 1.5rem;
  margin-bottom: 20px;
  color: var(--text-color-light);
}

.activity-card {
  background-color: var(--background-color-dark); /* Reemplaza bg-zinc-800 */
  max-width: 28rem; /* Reemplaza max-w-md */
  width: 100%; /* Reemplaza w-full */
  padding: 2.5rem; /* Reemplaza p-10 */
  border-radius: 0.375rem; /* Reemplaza rounded-md */
}

.activity-card-header {
  display: flex;
  justify-content: space-between;
}

.activity-card-title {
  font-size: 1.5rem; /* Reemplaza text-2xl */
  font-weight: bold; /* Reemplaza font-bold */
  color: var(--text-color-light);
}

.activity-card-link {
  background-color: var(--primary-color); /* Reemplaza bg-blue-500 */
  color: var(--white); /* Reemplaza text-white */
  padding: 0.5rem 1rem; /* Reemplaza px-4 py-2 */
  border-radius: 0.375rem; /* Reemplaza rounded-md */
  text-decoration: none; /* Elimina el subrayado */
}

.activity-card-link:hover {
  background-color: var(--primary-color); /* Reemplaza hover:bg-blue-600 */
}

.activity-card-text {
  color: var(--text-color-light); /* Reemplaza text-slate-300 */
}
