table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 1rem;
}

th, td {
  padding: 0.75rem;
  border: 1px solid var(--border-color);
  text-align: left;
}

th {
  background-color: var(--primary-color);
  color: white;
}

tr {
  background-color: var(--background-color-light);
  color: var(--text-color-dark);
}

tr:hover {
  background-color:#878787;
  color: var(--white)
}